.case-study-flex-sections > section {
	visibility: hidden;
}

.featured-images-wrap {
	background: #F9F9F9;
	.content-holder {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.image {
		height: 350px;
		width: 30%;
		background-size: cover;
	}

	.image:first-child {
		width: 350px;
		flex-basis: 350px;
		margin-right: 2rem;
	}

	.image:last-child {
		flex: 1;
	}

	&.overlap {
		.content-holder {
			display: block;
			position: relative;
		}

		.image {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		}

		.image:first-child {
			height: 500px;
			width: 80%;
			margin: 0 auto;
			@media screen and (min-width: 1200px){
				margin: 0;
			}
		}

		.image:nth-child(2) {
			height: 500px;
			width: 40%;
			position: absolute;
			top: 50px;
			right: 0;
			display: none;

			@media screen and (min-width: 1200px){
				display: block;
			}
		}
		p {
			margin: 1rem;
			text-align: center;
			@media screen and (min-width: 1200px){
				width: 60%;
			}
		}
	}
}

.our-approach {
	img {
		display: block;
		width: 100%;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		@media screen and (min-width: 768px){
			margin-left: 1rem;
			float: right;
			margin-right: 0;
		}
		@media screen and (min-width: 1200px){
			margin-right: -5rem;
		}
	}
}

.case-quote {
	blockquote {
		padding: 2rem;
		border: none;
		max-width: 1200px;
		margin: 0 auto;

		&:hover {
			p {
				transform: translateX(-10px);
			}
			footer {
				transform: translateX(10px);
			}
		}

		p {
			color: $orange;
			text-align: center;
			font-size: 1.5em;
			margin: 0;
			visibility: hidden;
			transition: all 200ms linear;

			&.slideInLeft {
				animation: slideInLeft 1s;
				visibility: visible;
			}
		}

		footer {
			text-align: right;
			max-width: 800px;
			visibility: hidden;
			transition: all 200ms linear;

			&.slideInRight {
				animation: slideInRight 1s;
				visibility: visible;
			}
		}
	}
}

.numbered-results {
	max-width: 1500px;
	margin: 100px auto 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

	@media screen and (min-width: 600px){
		flex-direction: row;
	}

	.result {
		text-align: center;
		margin-bottom: 2rem;

		@media screen and (min-width: 600px){
			max-width: 20%;
		}

		.number {
			font-size: 4.5em;
			font-style: normal;
			color: $orange;

			span:first-child, span:last-child {
				visibility: hidden;
				display: inline-block;

				&.slideInUp {
					visibility: visible;
					animation: slideInUp 2s;
				}
			}
		}


		.description {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.divider {
		min-height: 100px;
		width: 2px;
		background: $orange;
		margin: 0 1rem;
		display: none;

		@media screen and (min-width: 600px){
			margin: 0 2rem;
			display: block;
		}

		@media screen and (min-width: 900px){
			margin: 0 8rem;
		}

		&:last-child {
			display: none;
		}
	}
}