/********
  Home
  *********/
  body.page-template-page-home {
    // background: #000;
    overflow: hidden;
    height: 100vh;
    .site-header{
      .logo-area{
        // padding: 26px 0 26px 3px;
      }
    }

    &.gradient-bg
    {
      background-color: #d8d8d8;
      width: 100%;
      height: 100vh;
      padding: 0px;
      margin: 0px;
    }

    #masthead{

    }
    .site-content{
      background-color: transparent!important;
      padding: 0!important;
      box-shadow: none!important;
    }	
    .banner-text{
      max-width: 780px;
      margin: auto auto;
      h1{
        font-size: 52px;
        color: #ffffff;
        visibility: hidden;
        text-align: center;
        @include didot;

        a {
          color: #FFF;
        }
    }
  }

  #colophon, .page-banner{
    display: none!important;
  }
}

body.home {
	.site-main .banner-text {
		
		h1.fade-in {
			animation: fadeIn 1s 1;
			transition: all;
		}

		a {
			display: inline-block;
			padding: .5rem;
			background-image: linear-gradient(to right, transparent 50%, transparent 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			// overflow: hidden;

			&:hover {
				background-image: linear-gradient(to right, white 50%, transparent 50%);
				color: $orange;
				background-position: left bottom;
			}
		}
	}

	header#masthead {
		// position: relative;
		z-index: 5;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}