.team-member-posts {
	.posts-wrapper {
		margin: 0 auto 30px;
		max-width: 1200px;

		@media screen and (min-width: 768px){
		  display: flex;
		  align-items: stretch;
		}
	}

	.team-member-post {
		background-color: #333;
		display: block;
		background-size: cover;
		margin: 30px 15px;
		padding: 150px 15px 15px;
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(to top, rgba(#000, .5), transparent 50%, transparent);
			z-index: -1;
		}

		h2 a, .tag-list a {
		  color: white;
		  text-shadow: $text-shadow;
		}

		h2 {
		  font-size: 1.9em;
		  line-height: 1.1;
		  color: white;
		  font-weight: 400;
		}
	}
}

.single-our-team {
	.header-banner {
		min-height: 20vw;
	}
	.page-contents {
		img {
			visibility: hidden;

			&.slideInRight {
				visibility: visible;
				animation: slideInRight 1s;
			}
		}
	}
}