.projects {
	.project {
		visibility: hidden;
	}

	.project .content-holder {
		@media screen and (min-width: 800px){
			display: flex;
		}
	}

	.project-description {
		order: 1;
	}

	.project h2 {
		margin: 0 0 2rem;
	}

	.project-image {
		width: 100%;
		flex: 1 0 100%;
		margin-bottom: 2rem;
		visibility: hidden;

		@media screen and (min-width: 800px){
			width: 50%;
			flex: 1 0 50%;
		}

		&.left {
			@media screen and (min-width: 800px){
				order: 0;
				margin-right: 2rem;
			}
			@media screen and (min-width: 1600px){
				margin-left: -25%;
			}
			&.slideInLeft {
				visibility: visible;
				animation: slideInLeft 1s;
			}
		}

		&.right {
			@media screen and (min-width: 800px){
				order: 2;
				margin-left: 2rem;
			}
			@media screen and (min-width: 1600px){
				margin-right: -25%;
			}
			&.slideInRight {
				visibility: visible;
				animation: slideInRight 1s;
			}
		}

		img {
			width: 100%;
			display: block;
		}
	}
}