// 502MEDIA Brand Colours

$color_theme_502media_gradient: #e6502d;
$color_theme_502media_yellow: #bcab7a;
$color_theme_502media_blue: #366672;
$color_theme_502media_black: #4A4A4A;
$color_theme_502media_white: #f1f2f2;
$color_theme_502media_grey: #7C7B7C;

// Site Default Colours

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #4c4c4c;
$color__link: $color_theme_502media_grey;
$color__link-visited: #23527c;
$color__link-hover: $orange;
$color__text-main: $color_theme_502media_black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_heading:#292d33;
