$white : #ffffff;
$orange: #e6502d;

@import "colors";
@import "typography";
@import "structure";

$shadow : inset 0px 20px 10px -15px rgba(0,0,0,0.15);
$text-shadow: 1px 1px 0px rgba(black, .5);



@mixin didot {
	font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
	font-style: italic;
	font-weight: 700;
}

@mixin freightsanspro {
	font-family: freight-sans-pro, helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}


@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}