body.blog, body.archive.category {
	#main {
		&.content-holder {
			max-width: 50em !important;
		}
	}

	article.post {
		margin: 50px 0;
		border-bottom: 1px solid #eee;
		padding-bottom: 15px;
		.entry-header h1 {
			@include didot;
		}
	}
}
.single-post {
	#main {
		.content-holder {
			max-width: 50em !important;
		}
	}

	.entry-meta {
		@include didot;
		font-size: 1.5em;
	}
}

.posts-navigation {
	margin: 50px 15px;

	.nav-links {
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
	}
}