body{
  &:not(.page-template-page-home){
    #page {
      background-color: #fff;
      min-height: 100vh;
    }
    section{
      header, footer{
    //    display: none;
      }
    }
  }
  #page {
    width: 100%!important;
  }
  &.page-template-page-philosophy, &.page-template-default{
    header#masthead {
      padding-bottom: 35px;
    }
  }
  &.page-template-page-vc, &.page-template-page-hard-coded{
    header#masthead {
      margin-bottom: 5px;
    }
    .site-content {
      margin: 0 -35px!important;
    }
  }
  p{
    // text-align: justify;
  }
}
.container{
  width:100%!important;
  padding: 50px 0;
}

.full-width {
  width: 100%!important;
}
.content-holder {
  width: 100%!important;
  max-width: 1070px!important;
  margin: 0 auto!important;
}
.content-holder-half {
  width: 100%!important;
  max-width: 520px!important;
  margin: 0 auto;
  & > div{
    padding: 0!important;
  }
}
.left-sidebar {
  margin-top: 22px;
  padding-left: 0!important;
}

.text_score {
  text-align: center;
  h1{

  }
  .u_score{
    box-sizing: border-box;
    margin: 25px auto 40px;
    width: 150px;
    border: 1px solid $orange;
  }
}

#sideheader {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  height: 100%;
  width: 300px;
  padding: 0px 35px;
  z-index: 0;
  background: #444349;
  color: white;
  overflow: auto;
  //backface-visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, 0, 0.29, 1);
  &.is-visible {
    transform: translateX(0);
    //display: block;
  }
  .buttons.gray:hover {
    background:#f00 !important;
    a,i{
      color: #fff;
    }
  }
}

.push_sidebar {
  padding-top: 15px;

  .button {
    background: $orange;
    color: #444349;
    color: $white;
    @include didot;
    padding: .5rem;
    font-size: 1.4rem;
    border: none;
    margin-bottom: 1rem;

    .fa {
      display: inline-block;
      margin-left: .5em;
    }
  }

  .widget_text .widget-title {
    display: none;
  }

}

.page-header {
  margin:0;//repalce botstrap style
  padding-bottom:0;//repalce botstrap style
  border: none;//repalce botstrap style

  text-align: center;
  // padding-bottom: 32px;
  h1{
    // font-size: 30px;
    @include didot;
    
    margin-top: 37px;
    letter-spacing: 1.5px;
  }
  h4{
    font-size: 18px;
    line-height: 21px;
    max-width: 620px;
    margin: 14px auto;
    padding: 0 15px;
  }
  .para {
    text-align: left;
    margin-bottom: 60px;
    padding: 0 15px;
}
}
.page-contents {
  position: relative;
}

.content-wrapper {
  position: relative;
  transform: translateX(0);
  transition: all 0.8s cubic-bezier(0.68, 0, 0.29, 1);
}

.sideheader-visible {
  .content-wrapper {
    transform: translateX(-280px);
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

//absolute link
.link-full{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#236fb6;
  opacity: 0;
  filter:alpha(opacity=0);
}
//iframe
iframe{
  border:none!important
}

.wpb_wrapper iframe {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 190px;
  height: 141px;
  overflow: hidden;
}


//social links
  .social-media-links{
    a, .icon-background6 {
      transition: color 200ms ease-in-out;
    }
    a {
      &:hover{
        color: $orange;
        .icon-background6 {
          color: $orange;
        }
      }
    }
  }

@media (min-width: 1118px) and (max-width: 1260px){
  .banner-card {
    left: calc( 543px - ( 100vw / 2 )) !important;
  }
}

@media (max-width: 1117px){
  .banner-card {
    left: -15px !important;
  }
}

@media (max-width: 1100px){
  section.page-banner .banner-card {
    max-width: 450px;
    padding: 27px 30px 15px 99px;
  }
  section.page-banner .banner-card h3 {
    font-size: 18px;
  }
  section.page-banner .banner-card p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .page-header h1 {
    font-size: 26px;
  }
  .page-header h4 {
    font-size: 16px;
  }
}
@media (max-width: 800px){
  section.page-banner .banner-card {
    max-width: 400px;
    padding: 27px 30px 15px 75px;
  }
  section.page-banner .banner-card h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  section.page-banner .banner-card p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .page-header h1 {
    font-size: 24px;
  }
}

.inset {
  box-shadow: $shadow;
}

@media (max-width: 767px){
  .page-header h4 {
    font-size: 14px;
  }
}

@media (max-width: 550px){
  section.page-banner .banner-holder {
    height: 220px;
  }
  section.page-banner .banner-card {
    max-width: 400px;
    padding: 15px 15px 15px 40px;
    bottom: 20px;
  }
  section.page-banner .banner-card p {
    font-size: 13px;
    line-height: 18px;
  }
  section.page-banner .banner-card h3 {
    font-size: 14px;
  }
}

#sideheader {
  .widget_text {
    a {
      color: $white;
    }
  }
}