/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "pages";
/*------------------------------------------------------------*/

@media (max-width: 767px){
    .logo-area img {
        margin-left: 0!important;
    }
    button#hamburger {
        right: 15px;
    }
    .header-banner-text {
        margin-top: 50px;
    }
    .header-banner-text, .footer-banner-text {
        h1 {
            font-size: 50px!important;
        }
        h3 {
            font-size: 22px!important;
        }
    }
    footer#colophon .footer-edge {
        padding: 25px 0;
    }

    body.page-template-page-home .banner-text h1 {
        font-size: 52px;
    }
}

@media (max-width: 575px){
    .logo-area img {
        max-width: 220px!important;
    }
    button#hamburger {
        right: 15px;
    }
    .header-banner {
        height: 300px!important;
        line-height: 300px!important;
    }
    .header-banner-text {
        margin-top: 50px;
    }
    .header-banner-text, .footer-banner-text {
        h1 {
            font-size: 30px!important;
        }
        h3 {
            font-size: 22px!important;
        }
    }
    .footer-banner {
        height: 250px!important;
        line-height: 250px!important;
    }
    footer#colophon .footer-edge {
        padding: 20px 0;
        .social-media-links {
            width: 120px;
        }
        .get-in-touch {
            width: initial;
            float: right;
            padding-left: 0;
            a {
                font-size: 17px;
                line-height: 25px;
            }
        }
    }

}
@media (max-width: 450px){
    body.page-template-page-home .banner-text h1 {
        font-size: 36px;
    }
}
@media (max-width: 400px){
    .logo-area img {
        max-width: 180px !important;
        margin-top: 20px!important;
    }
}

