


/***********
  Our Work
  ************/
  body.page-template-page-work, .page-template-case-studies {
    .page-template-page-about #main > section {
      visibility: hidden;
    }

    .ours-work-contents {
      margin: -20px auto;
    }
    #content {
      box-shadow: none;
    }
    .post-item {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      visibility: hidden;
      &.fadeInUp {
        animation: fadeInUp 1s;
      }

      @media screen and (min-width: 992px){
        &.col-md-4 {
          width: 33%;
        }
      }

      .thumbnail-hover {
        background-repeat: no-repeat;
        position: relative;
        border: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
        &:hover {
          .overlay {
            opacity: 1;
            background: rgba( $color_theme_502media_gradient, .4 );
          }
          // .thumb-cross {
          //   opacity: 1;
          // }
        }
        .overlay {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          cursor: pointer;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to top, rgba(#000, .5), transparent 50%, transparent);
            z-index: -1;
          }
        }
      }
      .img-holder {
        width: 100%;
        .img-responsive {
          width: 100%;
        }
      }
      .entry {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background-color: transparent;
        pointer-events: none;

        h3{
          color: #ffffff;
          text-transform: uppercase;
          font-size: 1.75rem;
        }
        h5{
          font-size: 1.2rem;
          color: #ffffff;
          @include didot;

        }
      }
    }
  }

/***********
  About us
  ************/
  body.page-template-page-about{
    .about-us-contents {
      // margin: 20px auto;
    }
    .post-item {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      visibility: hidden;

      &.fadeInUp {
        visibility: visible;
        animation: fadeInUp 1s;
      }
      .thumbnail-hover {
        background-repeat: no-repeat;
        position: relative;
        border: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
        &:hover {
          .overlay {
            opacity: 0.4;
          }
          .thumb-cross {
            opacity: 1;
          }
        }
        .overlay {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background:$color_theme_502media_gradient;
          opacity: 0;
          transition: opacity 500ms ease-in-out;
        }
      }
      .img-holder {
        width: 100%;
        .img-responsive {
          width: 100%;
        }
      }
      .entry {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background-color: transparent;
        h1{
          color: #ffffff;
          text-shadow: 1px 1px 0px rgba(black, .5);
          @include freightsanspro;
          font-weight: 700;
          font-size: 2rem;
        }
        h5{
          @include freightsanspro;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 700;
          text-shadow: 1px 1px 0px rgba(black, .5);
          font-size: 1.2rem;

        }
      }
    }
    .office-gallery {
      max-width: 1400px;
      margin: 0 auto;
      overflow: hidden;

      img {
        display: block;
        width: 22%;
        margin-right: 2%;
        float: left;
        margin-bottom: 2%;
      }
      img:first-child {
        width: 47%;
        margin-right: 2%;
        margin-left: 2.5%;
      }
      img:nth-child(3), img:nth-child(5){
        margin-right: 0;
      }
    }

    .culture-posts {
      max-width: 1200px;
      margin: 0 auto 30px;

      @media screen and (min-width: 768px){
        display: flex;
        align-items: stretch;
      }

      .culture-post {
        background-color: #333;
        display: block;
        background-size: cover;
        margin: 30px 15px;
        padding: 150px 15px 15px;
        position: relative;
        z-index: 1;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to top, rgba(#000, .5), transparent 50%, transparent);
          z-index: -1;
        }

        h2 a, .tag-list a {
          color: white;
          text-shadow: $text-shadow;
        }

        h2 {
          font-size: 1.9em;
          line-height: 1.1;
          color: white;
          font-weight: 400;
        }
        .tag-list {
          font-size: 20px;
        }
      }
    }
  }



  @media (max-width: 500px){

   body.page-template-page-work .post-item {
    width: 100% !important;
  }

}
@media (max-width: 450px){

 body.page-template-page-about .post-item {
  width: 100% !important;
}

}

