.content-single {
	margin-top: 25px;
	padding-right: 0;
}
header.entry-header h1{
	font-weight: 400;
	font-size: 20px;
	color: #575756;
}
.post-img img {
	width: 100%;
}
span.edit-link a {
	display:none;
	margin-left: 10px;
	color: $color_theme_502media_blue;
}
body.single-post{
	.single-post-contents{
		h1{
			font-size: 30px;
			font-weight: bold;
			color: $color_theme_502media_black;
		}
		h2{
			font-size: 24px;
			font-weight: bold;
			color: $color_theme_502media_yellow;
		}
		h3{
			font-size: 20px;
			font-weight: bold;
			color: $color_theme_502media_blue;
		}
		h4{
			font-size: 18px;
			font-weight: 600;
			color: $color_theme_502media_black;
			font-family: $font2;
			font-style: italic;
		}
		h5{
			font-size: 18px;
			font-weight: bold;
			color: $color_theme_502media_yellow;
			font-family: $font2;
		}
		h6{
			font-size: 18px;
			font-weight: bold;
			color: $color_theme_502media_grey;
			font-family: $font2;
		}
		p{
			font-size: 18px;
			color: $color_theme_502media_grey;
			font-family: $font2;
		}

	}
	footer#colophon {
		margin-top: 40px;
	}
}
.thumbnail-hover {
	position: relative;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	&:hover {
		.overlay {
			opacity: 0.4;
		}
		.thumb-cross {
			opacity: 1;
		}
	}
	.overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:$color_theme_502media_gradient;
		opacity: 0;
		transition: opacity 500ms ease-in-out;
	}
}
.entry {
    position: absolute;
    bottom: 0;
	background-color: transparent;
	h3{
		font-family: Open Sans;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $color_theme_502media_yellow !important;
		a{
			color: $color_theme_502media_yellow !important;
		}
	}
}

/* Pagination */
.pagination {
	clear:both;
	position:relative;
	margin-top: 40px;
	font-size: 1em;
	line-height: 1;
	float:right;
	span, a{
		display:block;
		float:left;
		margin-left: 3px;
		padding:15px 20px;
		text-decoration:none;
		width:auto;
		color: #4c4c4c;
		background-color: #e6e6e6;
		transition: color .15s ease-in-out, background-color .15s ease-in-out;
	}
	.current, a:hover{
		color:#fff;
		background-color: $color_theme_502media_blue;
	}
}
//Read More
.morecontent span {
	display: none;
}
@media (max-width: 991px){
	.content-single {
		padding: 0;
	}
}