button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	// border-color: $color__border-button;
	// border-radius: 0;
	outline: none;
	background: $color__background-button;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	// color: rgba(0, 0, 0, .8);
	font-size:1em;
	line-height: 1;
	padding: .6em 1em .4em;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	transition: all 200ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		// border-color: #f0f0f0 !important;
	    background-color: #f0f0f0;
	    color: $color__text-input-focus;
    }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"] {
  cursor: pointer;
}

.button, a.button, button, button.button {
	background: none;
	border: 2px solid #9B9B9B;
	padding: 1em 4em;
	border-radius: 3px;
	font-weight: 400;
	display: inline-block;

	&:hover {
		color: white;
		background: #9b9b9b;
	}

	&.cta-button {
		font-size: 150%;
	}
	&.white {
		border-color: $white;
		color: $white;

		&:hover {
			background: $white;
			color: #9b9b9b;
		}
	}

	&.heart {
		transition: all 200ms linear;
		position: relative;
		overflow: hidden;
		font-weight: bold;

		.fa {
			transition: all 200ms linear;
		}

		&:before {
			content: 'Like this Project';
			display: inline-block;
			margin-right: 1rem;
			transition: all 200ms linear;
			position: relative;
			top: 0;
		}

		&:after {
			content: attr(data-likes);
			display: block;
			position: absolute;
			top: 110%;
			transition: all 200ms linear;
		}

		&:hover, &.clicked {
			color: crimson;
			border-color: crimson;
			background: $white;

			.fa {
				transform: scale(1.2);
			}

			&:before {
				top: -50px;
			}

			&:after {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}