.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 35px;
  div {
    padding: 0;
  }
  #header-menu-con-id {
    margin-top: 0;

    ul,li { // for all UL & LI
      list-style: none;
      margin: 0;
      padding-left: 0;
      text-align: center;
    }
    a { // for all links text
      font-family: 'CeraBasic', $font_backup;
      display: block;
      text-decoration: none;
    }
    #header-menu-id {
      & > li { // main menu LI
        border-bottom: 1px solid #bcbec0;

        &:last-child {
          border-bottom: none;
        }

      & > a { // for all links text
        font-size: 16px;
        text-transform: uppercase;
        text-align: left;
        color: #bcbec0;
        padding: 20px 0;
        &:hover > a,
        &.focus > a {
          color: $color_theme_502media_yellow;
        }
      }
      &:last-child{
        a{
          padding-right:0;
        }
      }
    }

    & > .menu-item-has-children {

        &:hover > .sub-menu{ // FIRST sub-menu
          opacity: 1;
          visibility: visible;
        }

        & > .sub-menu{ // FIRST sub-menu
          width: 100%;
          padding: 16px calc((100% - 1040px) /2);
          // opacity: 1;
          // visibility: visible;
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 99999;
          background-color: #4b494c;

          li{
            float: left;
            width: 20%;
            padding: 0.5%;
            margin-bottom: 3px;

            a {
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              padding: 0 17px;
              margin-bottom: 10px;
              color: #ffffff;
            }

            .sub-menu{ // SECOND sub-menu
              top: 0;
              li {
                float: none;
                a { 
                  width: 200px;
                  padding: 0 20px;
                  margin: 0;
                  font-size: 15px;
                  color: #ffffff;
                  font-weight: 400;
                }
              }
            }

          }
        }
      }
    }
  }
}


/*Hamburger Menu*/
button#hamburger{
  z-index: 9999;
  right: 53px;
  top: 35px;
  width: 36px;
  height: 25px;
  left: inherit;
  left: initial;
  overflow: inherit;
  overflow: initial;
  position: absolute !important;
  background-color: transparent!important;
  border:none!important;
  outline: none!important;
  &:hover, &:active, &:focus{
    background-color: transparent!important;
    border:none!important;
  }
  .menu-title{
    text-indent: 1px;
    font-size: 11px;
    position: absolute;
    top:-15px;
    color: #ffffff;
    .mn-close{
      display: none;
    }
  }
  span {
    top: 10px;
    left: 0px;
    right: 1px;
    height: 4px;
    background: #fff;
    &:before, &:after {
      left: 0;
      width: 100%;
      height: 4px;
      background: #fff;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  &.is-active {
.menu-title{
  .mn-open{
    display: none;
    transition: display 500ms ease-in-out;
  }
  .mn-close{
      display: block;
      transition: display 500ms ease-in-out;
    }
}
  span {
    background:none;
    &:before, &:after {

    }
    &:before {
      top: 0px;
    }
    &:after {
      bottom: 0px;
    }
  }



  }
}

/* Menu TOGGLE button*/

#siteheader {
  .widget_text {
    a {
      color: $white;
    }
  }
}