html{
	font-size: 16px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	@include freightsanspro;
	// font-size: $font-size-base;
	font-size: 100%;
	font-size: 1.2rem;
	color: $color_theme_502media_grey;
	// background-color: $body-bg;
	-webkit-font-smoothing: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $color__text-main;
}

.center-text {
	text-align: center;
}

.fancy-heading {
	@include didot;
	font-size: 2.5em;
}

.fancy-text {
	@include didot;
}

.bold {
	font-weight: bold;
}

.give-padding {
	padding-left: 15px;
	padding-right: 15px;
}

@import "headings";

@import "copy";

@import "fonts";