footer#colophon {
    position: relative;
    font-size: 13px;
    margin: 0;
    .container {
        width: 100%!important;
    }
    .footer-banner{
        // background-image: url('images/footer-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        line-height: 300px;
        text-align: center;
        .footer-banner-text {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            h1{
                font-size: 68px;
                color: #fff;
                text-transform: uppercase;
            }
            h3{
                font-size: 24px;
                color: #fff;
            }
        }
    }
    .footer-edge {
        padding: 25px;
        .get-in-touch {
            text-align: right;
            a {
                font-size: 20px;
                font-style: italic;
            }
        }
    }

}
@media (max-width: 991px){
    footer#colophon{

    }
}