header#masthead{
position: absolute;
width: 100%!important;
}
.sideheader-visible .tool-bar a{
color: $color_theme_502media_grey;
.c-hamburger {
    span, span:before, span:after{
        background-color: $color_theme_502media_grey;
    }
}
}
header{
.container {
    width: auto;
    .logo-area {
        z-index: 10;
        img{
            max-width: 250px;
            margin-top: 25px;
            margin-left: 35px;
        }
    }
}
.site-header {
    border-bottom: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 5px;
    div {
        padding: 0;
    }
}
}
@media (max-width: 991px){
header .site-header {
    padding-top: 5px;
    padding-bottom: 5px;
}
}
section.page-banner{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .header-banner{
        // background-image: url('images/footer-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        line-height: 350px;
        text-align: center;
        .header-banner-text {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
            h1{
                font-size: 68px;
                color: #fff;
                text-transform: uppercase;
            }
            h3{
                font-size: 24px;
                color: #fff;
                @include didot;
            }
        }
      }
}

.site-logo {
    display: inline-block;
    padding: 1rem;
}

.logo-area {
    width: 200px;

    @media screen and (min-width: 1300px){
        width: 300px;
    }
}

